asgiref
certifi
chardet
crispy-bootstrap5
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
djangorestframework
EasyProcess
entrypoint2
et-xmlfile
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
humanize
hyperframe
idna
lxml
Markdown
MouseInfo
mss
openpyxl
Pillow
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-pptx
pytweening
pytz
rfc3986
sniffio
sqlparse
tzdata
XlsxWriter
